@charset "ISO-8859-1";

body{
background-image:url("images/Recbackground.jpeg");
}
.header a {
    padding: 12px 28px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-bottom-right-radius: 10em;
   
}

.header {
    background: linear-gradient(to right, #3f56fb, #fc466b);
    padding: 0px;
    display: flex;
    justify-content: flex-end;
   

   
}

.singleCard a {
    margin: -7px 15px;
    text-decoration: none;
}
.singleCard img {
    width: 15%;
}
.singleCard {
    width: 55%;
    display: flex;
    background:rgba(255,255,255,.3); ;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    box-shadow: 0px 0px 6px 0px #d7d7d7;
    margin-top: 13px;
    border-radius: 4px;
    font-size: x-large;
    font-weight:900;
    font-style: italic;
   
}
.header a:hover {
    background: white;
    color: black;
}
li {
    list-style: none;
}
li.dropdown ul {
    display: none;
}
li.dropdown:hover .dropdownlist {
    display: block;
    position: absolute;
    top: 24px;
    right: 13px;
}
ul.dropdownlist li {
    display: block;
    background: aliceblue;
    padding: 10px 19px;
}
.header ul li {
    display: inline-block;
    position: relative;
}


