@charset "ISO-8859-1";
body{
  background-image: url("..images/Recbackground.jpeg");

}  
.header a {
    padding: 12px 28px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}


.header {
    background: linear-gradient(to right, #3f56fb, #fc466b);
    padding: 2px;
    display: flex;
    justify-content: space-around;

}
.singleCard a {
    margin: -7px 15px;
    text-decoration: none;
}
.singleCard img {
    width: 15%;
}
.singleCard {
    width: 55%;
    display: flex;
    background:rgba(255,255,255,.3);
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    box-shadow: 0px 0px 6px 0px #d7d7d7;
    margin-top: 13px;
    border-radius: 4px;
}
.header a:hover {
    background: white;
    color: black;
}
/* singleCard {
    width: 33%;
    display: flex;
    background: white;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    box-shadow: 0px 0px 6px 0px #d7d7d7;
    margin-top: 13px;
    border-radius: 4px */;
